{% load static %}
<section id="about" class="about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">
      <div class="col-xl-5 content">
        <div class="container section-title" data-aos="fade-up">
          <h2>Exclusive</h2>
          <div class="titleneonPulse">
            <span>Singles by</span>
            <span class="description-title">BoB’s Tune Hub</span>
          </div>
          <p>
            🎶 Get ready for an electrifying ride through the freshest singles!
            <br />BoB’s Tune Hub brings you the hottest and most trending tracks
            from rising stars and top-charting artists.
          </p>
          <p>
            🎶 Whether you're craving pulsating beats, soulful melodies, or
            dancefloor anthems, this collection delivers a non-stop wave of
            musical energy.
          </p>
          <p>🎶 Feel the rhythm and discover your next favorite song today!</p>
        </div>
        <a
          href="https://music.youtube.com/browse/MPADUCbq9zqpgqXoWAJvMeFPmqeg"
          target="_blank"
          class="neon-btn spotify-btn"
          ><span>Read More</span></a
        >
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <a
                href="https://distrokid.com/hyperfollow/bobstunehub/drownin-in-whiskey-blues"
                target="_blank"
              >
                <img
                  src="{% static 'img/single/single-cover.webp' %}"
                  alt="Drownin’ in Whiskey Blues"
                  class="single-cover"
                />
              </a>

              <h3>
                <a
                  href="https://music.youtube.com/playlist?list=OLAK5uy_lg2huwuxDoAy0u_P2ZhvlsgL1naTF1HME&si=eqSPdCJN8pDW8n_9"
                  target="_blank"
                  class="song-link"
                >
                  Drownin’ in Whiskey Blues
                </a>
              </h3>
              <span class="artist-name">BoB's Tune Hub</span>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <a
                href="https://distrokid.com/hyperfollow/bobstunehub/1950s-rock-twist"
                target="_blank"
              >
                <img
                  src="{% static 'img/single/1950s-Rock-Twist.webp' %}"
                  alt="1950s Rock Twist"
                  class="single-cover"
                />
              </a>

              <h3>
                <a
                  href="https://music.youtube.com/playlist?list=OLAK5uy_kFGqDaod6wn3jlU6V0rl6gDjh9Uzh78zs&si=PEK2-NmjcpQWooM8"
                  target="_blank"
                  class="song-link"
                >
                  1950s Rock Twist
                </a>
              </h3>
              <span class="artist-name">BoB's Tune Hub</span>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <a
                href="https://distrokid.com/hyperfollow/bobstunehub/electric-avenue"
                target="_blank"
              >
                <img
                  src="{% static 'img/single/Electric-Avenue.webp' %}"
                  alt="Electric Avenue"
                  class="single-cover"
                />
              </a>

              <h3>
                <a
                  href="https://music.youtube.com/playlist?list=OLAK5uy_nXsa6KnZAMaCDITwhg6VVneUKERS1XXp0&si=eA3dk2UmGVfuGTqI"
                  target="_blank"
                  class="song-link"
                >
                  Electric Avenue
                </a>
              </h3>
              <span class="artist-name">BoB's Tune Hub</span>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <a
                href="https://distrokid.com/hyperfollow/bobstunehub/late-august-beach-party"
                target="_blank"
              >
                <img
                  src="{% static 'img/single/Late-August-Beach-Party.webp' %}"
                  alt="Late August Beach Party"
                  class="single-cover"
                />
              </a>

              <h3>
                <a
                  href="https://music.youtube.com/playlist?list=OLAK5uy_kYd-LWfG_3j8gxs27VYmc1ky2vbeyxJ_0&si=S341-fvYf61ksMz3"
                  target="_blank"
                  class="song-link"
                >
                  Late August Beach Party
                </a>
              </h3>
              <span class="artist-name">BoB's Tune Hub</span>
            </div>
          </div>
          <!-- End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>
