{% load static %}
<section id="gallery" class="gallery section">
  <!-- Albums Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Albums</h2>
    <div class="titleneonPulse">
      <span>Vinyl</span>
      <span class="description-title">Collection</span>
    </div>
    <a
      href="https://music.youtube.com/browse/MPADUCbq9zqpgqXoWAJvMeFPmqeg"
      target="_blank"
      class="neon-btn spotify-btn"
      ><span>Read More</span><i class="bi bi-arrow-right"></i
    ></a>
  </div>
  <!-- End Albums Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0">
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/vintage-noir-40s-jazz-after-midnight"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-1.webp' %}"
              alt="Vintage Noir: '40s Jazz After Midnight"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/1988-neon-memories-2"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-2.webp' %}"
              alt="1988: Neon Memories"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/deep-work-protocol--music-for-productivity--focus-2"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-3.webp' %}"
              alt="Deep Work Protocol | Music for Productivity & Focus"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/drownin-in-whiskey-blues"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-4.webp' %}"
              alt="Whiskey Blues Nights"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/her-story--a-musical-journey"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-5.webp' %}"
              alt="Her Story – A Musical Journey"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/twist-me-through-time"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-6.webp' %}"
              alt="Twist Me Through Time"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/echoes-of-the-future"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-7.webp' %}"
              alt="Echoes of the Future"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/boogie-twist-express--12-non-stop-dance-hits-2"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-8.webp' %}"
              alt="Boogie Twist Express – 12 Non-Stop Dance Hits!"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/smooth-twist-timeless-dance-grooves"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-9.webp' %}"
              alt="Smooth Twist (Timeless Dance Grooves)"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/dual-flow-waves-of-sound"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-10.webp' %}"
              alt="Dual Flow (Waves of Sound)"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/cozy-harmonics-chill--relax-collection"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-11.webp' %}"
              alt="Cozy Harmonics: Chill & Relax Collection"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="https://distrokid.com/hyperfollow/bobstunehub/twist-fever-classic-dance-hits"
            target="_blank"
            data-gallery="images-gallery"
          >
            <img
              src="{% static 'img/gallery/gallery-12.webp' %}"
              alt="Twist Fever (Classic Dance Hits)"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- End Albums Item -->
    </div>
  </div>
</section>
