{% load static %}
<section class="features section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="features-item">
          <img
            src="{% static 'img/music.youtube.png' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://music.youtube.com/channel/UCbq9zqpgqXoWAJvMeFPmqeg"
              target="_blank"
              class="stretched-link"
            >
              ✦ YouTube Music ✦
            </a>
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="features-item">
          <img
            src="{% static 'img/amazonlogo.png' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://music.amazon.com/artists/B0DZNSTM4P/bob's-tune-hub"
              target="_blank"
              class="stretched-link"
            >
              ✦ Amazon Music ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="features-item">
          <img
            src="{% static 'img/apple.logo3.png' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://music.apple.com/ua/artist/bobs-tune-hub/1800606582"
              target="_blank"
              class="stretched-link"
            >
              ✦ Apple Music ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="features-item">
          <img
            src="{% static 'img/youtube.logo.png' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://www.youtube.com/@BoBsTuneHub"
              target="_blank"
              class="stretched-link"
            >
              ✦ YouTube ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="features-item">
          <img
            src="{% static 'img/inst.logo.jpg' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://www.instagram.com/bobs.tune.hub/"
              target="_blank"
              class="stretched-link"
            >
              ✦ Instagram ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="features-item">
          <img
            src="{% static 'img/Facebook.logo.jpg' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948"
              target="_blank"
              class="stretched-link"
            >
              ✦ Facebook ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="features-item">
          <img
            src="{% static 'img/tiktok.logo.png' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://www.tiktok.com/@bobs.tune.hub"
              target="_blank"
              class="stretched-link"
              >✦ Tik Tok ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
        <div class="features-item">
          <img
            src="{% static 'img/Spotify.logo.png' %}"
            alt="YouTube Music"
            class="youtube-music-logo"
            style="width: 40px; height: 40px"
          />
          <h3>
            <a
              href="https://open.spotify.com/artist/2pW1BmdHusb2IHl9EKlzTf"
              target="_blank"
              class="stretched-link"
            >
              ✦ Spotify ✦</a
            >
          </h3>
        </div>
      </div>
      <!-- End Feature Item -->

      <!-- <div
              class="col-lg-3 col-md-4"
              data-aos="fade-up"
              data-aos-delay="900"
            >
              <div class="features-item">
                <i class="bi bi-command" style="color: #b2904f"></i>
                <h3><a href="" class="stretched-link">Dirada Pack</a></h3>
              </div>
            </div> -->
      <!-- End Feature Item -->

      <!-- <div
              class="col-lg-3 col-md-4"
              data-aos="fade-up"
              data-aos-delay="1000"
            >
              <div class="features-item">
                <i class="bi bi-dribbble" style="color: #b20969"></i>
                <h3><a href="" class="stretched-link">Moton Ideal</a></h3>
              </div>
            </div> -->
      <!-- End Feature Item -->

      <!-- <div
              class="col-lg-3 col-md-4"
              data-aos="fade-up"
              data-aos-delay="1100"
            >
              <div class="features-item">
                <i class="bi bi-activity" style="color: #ff5828"></i>
                <h3><a href="" class="stretched-link">Verdo Park</a></h3>
              </div>
            </div> -->
      <!-- End Feature Item -->

      <!-- <div
              class="col-lg-3 col-md-4"
              data-aos="fade-up"
              data-aos-delay="1200"
            >
              <div class="features-item">
                <i class="bi bi-brightness-high" style="color: #29cc61"></i>
                <h3><a href="" class="stretched-link">Flavor Nivelanda</a></h3>
              </div>
            </div> -->
      <!-- End Feature Item -->
    </div>
  </div>
</section>
