{% load static %}
<footer id="footer" class="footer dark-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about text-start">
        <a
          href="https://linktr.ee/BoBsTuneHub"
          target="_blank"
          class="logo d-flex align-items-center"
        >
          <span class="sitename sitename2" style="font-size: 24px"
            >BoB's Tune Hub</span
          >
        </a>

        <div class="footer-contact pt-3">
          <p style="font-size: 18px">
            <strong>Email:</strong> <span>bobstunehub@gmail.com</span>
          </p>
        </div>

        <div class="social-links d-flex flex-column align-items-start mt-4">
          <!-- Додано більше простору між логотипом та соцмережами -->
          <div class="d-flex justify-content-start gap-3 mt-3">
            <a href="https://x.com/hub_bo64354" target="_blank"
              ><i class="bi bi-twitter-x"></i
            ></a>
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948"
              target="_blank"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://www.instagram.com/bobs.tune.hub/" target="_blank"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.youtube.com/@BoBsTuneHub" target="_blank"
              ><i class="bi bi-youtube"></i
            ></a>
          </div>
          <div class="d-flex justify-content-start gap-3 mt-2">
            <a
              href="https://music.amazon.com/artists/B0DZNSTM4P/bob's-tune-hub"
              target="_blank"
              ><i class="bi bi-music-note-beamed"></i
            ></a>
            <a
              href="https://music.apple.com/ua/artist/bobs-tune-hub/1800606582"
              target="_blank"
              ><i class="bi bi-apple"></i
            ></a>
            <a href="https://www.tiktok.com/@bobs.tune.hub" target="_blank"
              ><i class="bi bi-tiktok"></i
            ></a>
            <a href="https://www.spotify.com/" target="_blank"
              ><i class="bi bi-spotify"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4 class="sitename sitename3" style="font-size: 24px">
          Stay Tuned with BoB's Tune Hub
        </h4>
        <p style="font-size: 18px">
          Get the freshest beats and updates straight to your inbox!
        </p>
        <p style="font-size: 18px">Join our music journey today.</p>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <form action="https://api.web3forms.com/submit" method="POST">
          <input
            type="hidden"
            name="access_key"
            value="8c889318-da94-4a48-baa2-ca6640a76a8b"
          />
          <input
            type="text"
            name="name"
            class="newsletter-input"
            placeholder="Your Name"
            required
          />
          <input
            type="email"
            name="email"
            class="newsletter-input"
            placeholder="Your Email"
            required
          />
          <textarea
            name="message"
            class="newsletter-textarea"
            placeholder="Your Message"
            required
          ></textarea>
          <button type="submit" class="neon-btn spotify-btn">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>
      © <span>Copyright</span>
      <strong class="px-1 sitename">2025 BoB's Tune Hub</strong>
      <span>All Rights Reserved</span>
    </p>
  </div>
</footer>
