{% load static %}
<section id="features" class="details section">
  <!-- Playlists Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Exclusive</h2>
    <div class="titleneonPulse">
      <span>Playlists by</span>
      <span class="description-title">BoB’s Tune Hub</span>
    </div>
  </div>
  <!-- End Playlists Title -->

  <div class="container">
    <div class="row gy-4 align-items-center features-item">
      <div
        class="col-md-5 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="100"
      >
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/37i9dQZF1EIYSEP71ZXBur?utm_source=generator"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h3>🎶 BoB’s Tune Hub Mix</h3>
        <p class="fst-italic">
          A unique selection of the best tracks from BoB’s Tune Hub. Discover
          the freshest releases and fan favorites!
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i
            ><span>
              BoB's Tune Hub unveils the world of energetic electroswing, where
              past rhythms blend with modern electronic beats.</span
            >
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span
              >Deep bass and atmospheric lo-fi hip-hop melodies help you relax
              and dive into a world of smooth vibes.</span
            >
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span
              >Fusion jazz in our selection blends classic improvisation with
              modern experimentation, creating a unique musical landscape.</span
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Playlists Item -->

    <div class="row gy-4 align-items-center features-item">
      <div
        class="col-md-5 order-1 order-md-2 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/37i9dQZF1E4yKW8qEQrbm6?utm_source=generator&theme=0"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div
        class="col-md-7 order-2 order-md-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3>🎶 BoB's Tune Hub – Midnight Vibes</h3>
        <p class="fst-italic">
          Feel the magic of nighttime rhythms with BoB's Tune Hub! This playlist
          is perfect for deep thoughts, late-night drives, and cozy moments.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i>
            <span>
              Atmospheric lo-fi, smooth chill-hop, deep house, and electronic
              melodies create the perfect background for diving into the harmony
              of the night.
            </span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>
              Enjoy a sound that blends tranquility with the energy of the city
              after dark.</span
            >
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Immerse yourself in the waves of interstellar</span>.
          </li>
        </ul>
      </div>
    </div>
    <!-- Playlists Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/02cTB0SRcy5h0q0KLkGvnR?utm_source=generator"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-md-7" data-aos="fade-up">
        <h3>🎶 BoB's Tune Hub – Cosmic Dreams</h3>
        <p class="fst-italic">
          Embark on an intergalactic journey with sounds that transport you into
          a world of dreams and infinite serenity.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i>
            <span
              >This playlist is filled with atmospheric ambient tracks, deep
              synthetic textures, and smooth melodies that take you beyond the
              stars.
            </span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>
              Feel the weightlessness, dive into the depths of the night sky.
              music.</span
            >
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Immerse yourself in the waves of interstellar</span>.
          </li>
        </ul>
      </div>
    </div>
    <!-- Playlists Item -->

    <!-- <div class="row gy-4 align-items-center features-item">
            <div
              class="col-md-5 order-1 order-md-2 d-flex align-items-center"
              data-aos="zoom-out"
            >
              <img src="{% static 'img/details-4.png' %}" class="img-fluid" alt="" />
            </div>
            <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
              <h3>
                Quas et necessitatibus eaque impedit ipsum animi consequatur
                incidunt in
              </h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum
              </p>
            </div>
          </div> -->
    <!-- Playlists Item -->
  </div>
</section>
