{% load static %}
<section id="stats" class="stats section light-background">
  <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="bi bi-people"></i>
        <div class="stats-item">
          <span id="tiktok-followers">589</span>
          <p>TikTok Followers</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="bi bi-people"></i>
        <div class="stats-item">
          <span id="tiktok-likes">1832</span>
          <p>TikTok Likes</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="bi bi-people"></i>
        <div class="stats-item">
          <span id="youtube-subs">1720</span>
          <p>YouTube</p>
        </div>
      </div>
    </div>
  </div>
</section>
