{% load static %}
<section id="testimonials" class="testimonials section dark-background">
  <img
    src="{% static 'img/testimonials-bg.webp' %}"
    class="testimonials-bg"
    alt=""
  />

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          }
        }
      </script>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static 'img/testimonials/testimonials-1.webp' %}"
              class="testimonial-img"
              alt=""
            />
            <h3>BoB's Fairy Tales</h3>
            <h4>Designer & Animator</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >As a channel partner, we genuinely recommend this music portal!
                We also use their services to distribute our music and are very
                satisfied with the results. If you're looking for a reliable
                platform with top-quality service — BoB's Tune Hub is the way to
                go! 🚀</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
          <!-- More button -->
          <div class="text-center mt-4">
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948&sk=reviews"
              target="_blank"
              class="btn"
              style="
                display: block;
                width: 100px;
                height: 30px;
                padding: 10px 0;
                font-size: 10px;
                text-align: center;
                text-decoration: none;
                background: none;
                border: 1px solid #ccc;
                color: #18ea01;
                margin: 0 auto;
              "
            >
              More
            </a>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static 'img/testimonials/testimonials-2.webp' %}"
              class="testimonial-img"
              alt=""
            />
            <h3>Painter Master</h3>
            <h4>Designer</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Так, дійсно, BoB's Tune Hub — це справжній вінтаж! 🌟 Стильні
                треки з ретро-відчуттям та якісним звучанням переносять у золоті
                часи музики. Ідеальний вибір для тих, хто цінує класику з
                сучасним звучанням!
              </span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
          <!-- More button -->
          <div class="text-center mt-4">
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948&sk=reviews"
              target="_blank"
              class="btn"
              style="
                display: block;
                width: 100px;
                height: 30px;
                padding: 10px 0;
                font-size: 10px;
                text-align: center;
                text-decoration: none;
                background: none;
                border: 1px solid #ccc;
                color: #18ea01;
                margin: 0 auto;
              "
            >
              More
            </a>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static 'img/testimonials/testimonials-3.webp' %}"
              class="testimonial-img"
              alt=""
            />
            <h3>Enigma-Dent</h3>
            <h4>Dentist</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >🎶Також рекомендуємо BoB's Tune Hub для гарного настрою! Якісна
                музика, круті треки та незабутня атмосфера. Ідеально, щоб
                підняти настрій! 🔥</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
          <!-- More button -->
          <div class="text-center mt-4">
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948&sk=reviews"
              target="_blank"
              class="btn"
              style="
                display: block;
                width: 100px;
                height: 30px;
                padding: 10px 0;
                font-size: 10px;
                text-align: center;
                text-decoration: none;
                background: none;
                border: 1px solid #ccc;
                color: #18ea01;
                margin: 0 auto;
              "
            >
              More
            </a>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static 'img/testimonials/testimonials-4.webp' %}"
              class="testimonial-img"
              alt=""
            />
            <h3>Little Creator Now</h3>
            <h4>Art creator</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >BoB's Tune Hub is a true discovery for everyone who loves
                quality music! 🔥 Here, you can always find the perfect playlist
                for any mood – from energetic hits to relaxing atmospheric
                tracks.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
          <!-- More button -->
          <div class="text-center mt-4">
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948&sk=reviews"
              target="_blank"
              class="btn"
              style="
                display: block;
                width: 100px;
                height: 30px;
                padding: 10px 0;
                font-size: 10px;
                text-align: center;
                text-decoration: none;
                background: none;
                border: 1px solid #ccc;
                color: #18ea01;
                margin: 0 auto;
              "
            >
              More
            </a>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="{% static 'img/testimonials/testimonials-5.webp' %}"
              class="testimonial-img"
              alt=""
            />
            <h3>ANMA-electric</h3>
            <h4>Energetic</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >If you're looking for a place where music truly comes to life,
                then BoB's Tune Hub is exactly what you need! 🎧 Here, you can
                always discover something new and inspiring, and every playlist
                feels like a journey into the world of quality sound.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
          <!-- More button -->
          <div class="text-center mt-4">
            <a
              href="https://www.facebook.com/profile.php?id=61573649232948&sk=reviews"
              target="_blank"
              class="btn"
              style="
                display: block;
                width: 100px;
                height: 30px;
                padding: 10px 0;
                font-size: 10px;
                text-align: center;
                text-decoration: none;
                background: none;
                border: 1px solid #ccc;
                color: #18ea01;
                margin: 0 auto;
              "
            >
              More
            </a>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
