{% extends '_layouts/base.html' %}
<!-- prettier-ignore -->
{% block content %}
      {% include '_fragments/HeroSection.html' %}
      {% include '_fragments/AboutSection.html' %}
      {% include '_fragments/FeaturesSection.html' %}
      {% include '_fragments/StatsSection.html' %}
      {% include '_fragments/PlaylistsSection.html' %}
      {% include '_fragments/AlbumsSection.html' %}
      {% include '_fragments/TestimonialsSection.html' %}
      {% include '_fragments/TeamSection.html' %}
{% endblock content %}
